@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

h3 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}


h5 {
    font-weight: bold;
}


/* PREMIER ECRAN MARIAGE */

@media only screen and (min-width: 950px) {
    .video-container {
        overflow: hidden;
        display: block;
        height: 30vh;
    }

    
    
    
/*ANIMATION*/
.animated-from-right {
    opacity: 0; /* Commence par être invisible */
    transform: translateX(100%); /* Décalage initial vers la droite */
    transition: opacity 5s, transform 5s; /* Animation de 1 seconde avec transition */
}

/* Lorsque l'élément est dans la vue (scroll), appliquez l'animation */
.animated-from-right.animate {
    opacity: 1;
    transform: translateX(0);
}

#background-video {
    transition: filter 10s ease;
}



.blurred {
    filter: brightness(10%); /* Ajustez la valeur pour contrôler l'effet de blanchiment */
}
/*FIN ANIMATION*/

/*NAVBAR*/

.navbar-brand {
    margin-left: 40%!important;
}
.navbar {
    background-color: #575A6D !important; 
    max-height: 100px;
}


/*FIN NAVBAR*/
.premiereecran {
    width: 100%;
    height: 150vh;
    position: relative;
}

.div1 {
    padding: 2%;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    opacity: 1;
    top: 0;
    left: 0;

}


.div11 {
    display: flex;
    flex-direction: row;

}

.imagediv11 {
    width: 70%;
    height: auto;
    margin-left: 20%;
}

.vertical-linediv1 {
        border-right: 10px solid #F69515; /* Couleur et épaisseur de la ligne */
        height: 300px; /* Hauteur fixe de la ligne */
        margin: 0 20px; /* Marge à gauche et à droite de la ligne */
    
}
.imagediv12 {
    width: 30%;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
    border: 2px solid white; /* Bordure blanche de 2px */
    padding: 5px;
    background-color: white;
    box-shadow: 1px 2px 2px 2px #00000028; /* Ombre portée de 2px */
}
.rotate-left {
    transform: rotate(-20deg); /* Rotation de -20 degrés (gauche) */
}
.rotate-center {
    transform: rotate(-20deg); /* Rotation de -20 degrés (gauche) */
}
.rotate-right {
    transform: rotate(20deg); /* Rotation de 20 degrés (droite) */
}

.div2 {

    width: 100%;
    height: auto;
    background-color: #ffffff;
    opacity: 1;

    display: flex;


}
.div21 {
    display: flex;
    flex-direction: row; /* Ajustement pour aligner le contenu verticalement */
    justify-content: center;
    align-items: center;
    text-align: center; /* Centrage du texte */
    margin-left: 10%;

}
.imagediv21{
    width: 50%;
    height: auto;

}

.textdiv21 {
    width: 50%;
}

/* SECOND ECRAN MILLIONAIRE */
.secondecran {
    width: 100%;
    height: auto;


    display: flex;
    flex-direction: column;
}
.horizontal-linediv3 {
    border-bottom: 10px solid #F69515; /* Couleur et épaisseur de la ligne */
    width: 30%; /* Hauteur fixe de la ligne */
    margin: auto;
    margin-bottom: 5%;

}

.div3 {
    width: 100%;
    height: auto;
    background-color:white;
    margin-top: 5%;
    left: 0;

}

.video2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.videoofficiel {
    max-width: 70%;
    height: auto;
    opacity: 0.9;
}

.div4, .div5, .div6, .div7 {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;

}
h4 {
    margin-top: 3%;
}
.hidden {
    display: none;
}
.FAQ {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.div6 {
    background-image: url("photos/borneselfieblanc.png");
    background-position:10% 20%;
    background-repeat: no-repeat;
}
.question, .answer {
    background-color: white;
}
#exempleborne:hover {
    transform: scale(1.1); /* Agrandit l'image de 10% */
    filter: brightness(1.2); /* Augmente la luminosité */
  }
#exempleborne {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.div7 {
    background-image: url("photos/etiquette-de-prix.png");
    background-position:80% 80%;
    background-repeat: no-repeat;

}
.carddiv7 {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

h5 {
    text-align: center;
}
.photoscabines {
    width: 50%;
    margin-top: 2%;
}

.horizontal-linediv4 {
    border-bottom: 10px solid #F69515; /* Couleur et épaisseur de la ligne */
    width: 5%; /* Hauteur fixe de la ligne */
    margin: auto;
    margin-bottom: 5%;

}
}
@media only screen and (max-width: 949px) and (min-width: 501px) {
    .video-container {
        overflow: hidden;
        display: block;
        height: 20vh;
    }
 
    /*ANIMATION*/
    .animated-fade-in {
        opacity: 0;
        animation: fade-in 2s ease-in-out forwards;
    }
    
    @keyframes fade-in {
        from {
            opacity: 0.5;
        }
        to {
            opacity: 1;
        }
    }
    
    .animated-slide-up {
        transform: translateY(100px);
        animation: slide-up 2s ease-in-out forwards;
    }
    
    @keyframes slide-up {
        from {
            transform: translateY(100px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    /* Lorsque l'élément est dans la vue (scroll), appliquez l'animation */
    .animated-from-right.animate {
        opacity: 1;
        transform: translateX(0);
    }
    
    #background-video {
        transition: filter 10s ease;
    }
    
    
    
    .blurred {
        filter: brightness(10%); /* Ajustez la valeur pour contrôler l'effet de blanchiment */
    }
    /*FIN ANIMATION*/
    
        /*FIN ANIMATION*/
    
        /*NAVBAR*/
    
    .navbar-brand {
        margin-left: 40%!important;
    }
    .navbar {
        background-color: #575A6D !important; 
    
    }
    
    
    /*FIN NAVBAR*/

        
        .div1 {
            padding: 5%;
            width: 100%;
            height: auto;
            background-color: #ffffff;
            opacity: 1;
            top: 0;
            left: 0;
        
        }
        
        
        .div11 {
            display: flex;
            flex-direction: row;
        
        }
        
        .imagediv11 {
            width: 70%;
            height: auto;
            margin-left: 20%;
        }
        
        .vertical-linediv1 {
                border-right: 5px solid #F69515; /* Couleur et épaisseur de la ligne */
                height: 200px; /* Hauteur fixe de la ligne */
                margin: 0 20px; /* Marge à gauche et à droite de la ligne */
            
        }
        .imagediv12 {
            width: 30%;
            height: auto;
            margin-top: 8%;
            margin-left: 2%;
            border: 2px solid white; /* Bordure blanche de 2px */
            padding: 5px;
            background-color: white;
            box-shadow: 1px 2px 2px 2px #00000028; /* Ombre portée de 2px */
        }
        .rotate-left {
            transform: rotate(-20deg); /* Rotation de -20 degrés (gauche) */
        }
        .rotate-center {
            transform: rotate(-20deg); /* Rotation de -20 degrés (gauche) */
        }
        .rotate-right {
            transform: rotate(20deg); /* Rotation de 20 degrés (droite) */
        }
        
        .div2 {
            margin-top: 2%;
            width: 100%;
            height: auto;
            background-color: #ffffff;
            opacity: 1;

            display: flex;
        
        
        }
        .div21 {
            display: flex;
            flex-direction: row ; /* Ajustement pour aligner le contenu verticalement */
            justify-content: center;
            align-items: center;
            text-align: center; /* Centrage du texte */
            margin-left: 2%;
        }
    
        .textdiv21 {
            width: 100%;
            font-size: medium;
        }
        .imagediv21{
            width: 60%;
            height: auto;
        
        }
        
        
        /* SECOND ECRAN MILLIONAIRE */
        /* SECOND ECRAN MILLIONAIRE */
    .secondecran {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
    }
    .horizontal-linediv3 {
        border-bottom: 10px solid #F69515; /* Couleur et épaisseur de la ligne */
        width: 30%; /* Hauteur fixe de la ligne */
        margin: auto;
        margin-bottom: 5%;
    
    }
    
    .div3 {
        width: 100%;
        height: auto;
        background-color:white;
        margin-top: 0%;
        left: 0;
    
    }
    
    .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    
    }
    
    .videoofficiel {
        max-width: 100%;
        height: auto;
        opacity: 0.9;
    }
    
    .div4, .div5, .div6, .div7 {
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        opacity: 1;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 0;
    
    }
    h4 {
        margin-top: 3%;
    }
    .question, .answer {
        background-color: white;
    }
    .hidden {
        display: none;
    }
    .FAQ {
        display: flex ;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .div7 {
        margin-top: 5%;
        width: 100%;
        height: auto;
    }
    .photoscabines {
        width: 90%;
        margin-top: 2%;
    }
    .carddiv7custom {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.295);
    }
    .custom-card {
        border: none; /* Supprime la bordure */
    }

    .horizontal-linediv4 {
        border-bottom: 10px solid #F69515; /* Couleur et épaisseur de la ligne */
        width: 5%; /* Hauteur fixe de la ligne */
        margin: auto;
        margin-bottom: 5%;
    
    }}


@media only screen and (max-width: 500px) { 

    .video-container {
        overflow: hidden;
        display: block;
        height: 30vh;
    }
/*ANIMATION*/
.animated-fade-in {
    opacity: 0;
    animation: fade-in 4s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-slide-up {
    transform: translateY(100px);
    animation: slide-up 4s ease-in-out forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

/* Lorsque l'élément est dans la vue (scroll), appliquez l'animation */
.animated-from-right.animate {
    opacity: 1;
    transform: translateX(0);
}

#background-video {
    transition: filter 10s ease;
}



.blurred {
    filter: brightness(10%); /* Ajustez la valeur pour contrôler l'effet de blanchiment */
}
/*FIN ANIMATION*/

    /*FIN ANIMATION*/

    /*NAVBAR*/

.navbar-brand {
    margin-left: 40%!important;
}
.navbar {
    background-color: #575A6D !important; 

}


/*FIN NAVBAR*/

    
    .div1 {
        padding: 5%;
        width: 100%;
        height: auto;
        background-color: #ffffff;
        opacity: 1;
        top: 0;
        left: 0;
    
    }
    
    
    .div11 {
        display: flex;
        flex-direction: row;
    
    }
    
    .imagediv11 {
        width: 90%;
        height: auto;
        margin-left: 20%;
    }
    
    .vertical-linediv1 {
            border-right: 5px solid #F69515; /* Couleur et épaisseur de la ligne */
            height: 100px; /* Hauteur fixe de la ligne */
            margin: 0 20px; /* Marge à gauche et à droite de la ligne */
        
    }
.supp {
    width: 0%!important;
    opacity: 0!important;
}

    .imagediv12 {
        width: 80%;
        height: auto;
        margin-top: 10%;
        border: 2px solid white; /* Bordure blanche de 2px */
        background-color: white;
        box-shadow: 1px 2px 2px 2px #00000028; /* Ombre portée de 2px */
    }
    .rotate-left {
        transform: rotate(-20deg); /* Rotation de -20 degrés (gauche) */

    }
    .rotate-center {
        transform: rotate(-20deg); /* Rotation de -20 degrés (gauche) */
    }
    .rotate-right {
        transform: rotate(20deg); /* Rotation de 20 degrés (droite) */
    }

.div12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
    .div2 {
        margin-top: 0%;
        width: 100%;
        height: auto;
        background-color: #ffffff;
        opacity: 1;

        display: flex;
        background-image: url("photos/borneselfietransparent2.png");
        background-position:50% 0%;
        background-repeat: repeat;
        background-size :2%;
    
    
    }
    .div21 {
        display: flex;
        flex-direction: column  ; /* Ajustement pour aligner le contenu verticalement */
        justify-content: center;
        align-items: center;
        text-align: center; /* Centrage du texte */
        margin-top: 5%;
    }

    .textdiv21 {
        width: 80%;
        font-size: medium;
    }
    .imagediv21{
        width: 80%;
        height: auto;
    
    }
    
    
    /* SECOND ECRAN MILLIONAIRE */
    /* SECOND ECRAN MILLIONAIRE */
.secondecran {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}
.horizontal-linediv3 {
    border-bottom: 10px solid #F69515; /* Couleur et épaisseur de la ligne */
    width: 30%; /* Hauteur fixe de la ligne */
    margin: auto;
    margin-bottom: 5%;

}


.div3 {
    width: 100%;
    height: auto;
    background-color:white;
    margin-top: 0%;
    left: 0;

}

.video2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.videoofficiel {
    max-width: 100%;
    height: auto;
    opacity: 0.9;
}

.div4, .div5, .div6, .div7 {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);

    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;

}
h4 {
    margin-top: 3%;
}
.hidden {
    display: none;
}
.FAQ {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.div6 {
    
    background-image: url("photos/borneselfietransparent2.png");
    background-position:200% 100%;
    background-repeat: no-repeat;
}
.question, .answer {
    background-color: rgba(255, 255, 255, 0.726);
}
.horizontal-linediv4 {
    border-bottom: 10px solid #F69515; /* Couleur et épaisseur de la ligne */
    width: 5%; /* Hauteur fixe de la ligne */
    margin: auto;
    margin-bottom: 5%;

}
.div7 {
    margin-top: 5%;
    width: 100%;
    height: auto;

}

#exempleborne {
    width: 100%;
    height: auto;

}
.photoscabines {
    width: 100%;
    margin-top: 2%;
}
.carddiv7custom {
    
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.295);
}
.custom-card {
    border: none; /* Supprime la bordure */
}}